.MMM-LiveScores .game {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}

.MMM-LiveScores .game:last-child {
    border-bottom: none;
}

.team-logo {
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.game-info {
    display: inline-block;
    vertical-align: middle;
}
